<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplier">
            <h2><span>Supplier</span> {{ supplier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ supplier.name }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ supplier.address }}</span>
                </dd>
                <dt><span>Contact No</span></dt>
                <dd>
                    <span>{{ supplier.contactNo }}</span>
                </dd>
                <dt><span>Contact Person</span></dt>
                <dd>
                    <span>{{ supplier.contactPerson }}</span>
                </dd>
                <dt><span>Contact Person No</span></dt>
                <dd>
                    <span>{{ supplier.contactPersonNo }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ supplier.createdBy }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ supplier.createdDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supplier', supplier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
