<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrderBreakdown">
            <h2><span>Purchase Order Breakdown</span> {{ purchaseOrderBreakdown.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Purchase Order Id</span></dt>
                <dd>
                    <span>{{ purchaseOrderBreakdown.purchaseOrderId }}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{ purchaseOrderBreakdown.productId }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ purchaseOrderBreakdown.quantity }}</span>
                </dd>
                <dt><span>Unit Price</span></dt>
                <dd>
                    <span>{{ purchaseOrderBreakdown.unitPrice }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order-breakdown', purchaseOrderBreakdown.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
