<div>
    <h2 id="page-heading">
        <span>Store Products</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store-product" [routerLink]="['/store-product/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Store Product
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="storeProducts?.length === 0">
        <span>No storeProducts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="storeProducts && storeProducts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Product Id</span></th>
                    <th scope="col" ><span>Store Id</span></th>
                    <th scope="col" ><span>Quantity</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col" ><span>Created Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let storeProduct of storeProducts ;trackBy: trackId">
                    <td><a [routerLink]="['/store-product', storeProduct.id, 'view']">{{ storeProduct.id }}</a></td>
                    <td>{{ storeProduct.productId }}</td>
                    <td>{{ storeProduct.storeId }}</td>
                    <td>{{ storeProduct.quantity }}</td>
                    <td>{{ storeProduct.createdBy }}</td>
                    <td>{{ storeProduct.createdDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/store-product', storeProduct.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/store-product', storeProduct.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(storeProduct)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
