<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrder">
            <h2><span>Purchase Order</span> {{ purchaseOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Supplier Id</span></dt>
                <dd>
                    <span>{{ purchaseOrder.supplierId }}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{ purchaseOrder.totalAmount }}</span>
                </dd>
                <dt><span>Payment Type</span></dt>
                <dd>
                    <span>{{ purchaseOrder.paymentType }}</span>
                </dd>
                <dt><span>Order Status</span></dt>
                <dd>
                    <span>{{ purchaseOrder.orderStatus }}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{ purchaseOrder.paymentStatus }}</span>
                </dd>
                <dt><span>Shipping Date</span></dt>
                <dd>
                    <span>{{ purchaseOrder.shippingDate }}</span>
                </dd>
                <dt><span>Shipping Required</span></dt>
                <dd>
                    <span>{{ purchaseOrder.shippingRequired }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ purchaseOrder.createdDate }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ purchaseOrder.createdBy }}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{ purchaseOrder.remarks }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
