<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-purchase-order-heading">Create or edit a Purchase Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_supplierId">Supplier Id</label>
                    <input type="number" class="form-control" name="supplierId" id="field_supplierId"
                           formControlName="supplierId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                           formControlName="totalAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentType">Payment Type</label>
                    <select class="form-control" name="paymentType" formControlName="paymentType" id="field_paymentType">
                        <option value="CREDIT">CREDIT</option>
                        <option value="CASH">CASH</option>
                        <option value="PARTIAL">PARTIAL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderStatus">Order Status</label>
                    <select class="form-control" name="orderStatus" formControlName="orderStatus" id="field_orderStatus">
                        <option value="COMPLETED">COMPLETED</option>
                        <option value="INPROGRESS">INPROGRESS</option>
                        <option value="FAILED">FAILED</option>
                        <option value="CANCELLED">CANCELLED</option>
                        <option value="DELIVERED">DELIVERED</option>
                        <option value="PAYMENT_DUE">PAYMENT_DUE</option>
                        <option value="REFUNDED">REFUNDED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentStatus">Payment Status</label>
                    <select class="form-control" name="paymentStatus" formControlName="paymentStatus" id="field_paymentStatus">
                        <option value="PAID">PAID</option>
                        <option value="UNPAID">UNPAID</option>
                        <option value="PARTIAL_PAID">PARTIAL_PAID</option>
                        <option value="REFUNDED">REFUNDED</option>
                        <option value="PARTIAL_REFUNDED">PARTIAL_REFUNDED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shippingDate">Shipping Date</label>
                    <div class="input-group">
                        <input id="field_shippingDate" type="text" class="form-control" name="shippingDate" ngbDatepicker #shippingDateDp="ngbDatepicker" formControlName="shippingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="shippingDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shippingRequired">Shipping Required</label>
                    <input type="checkbox" class="form-control" name="shippingRequired" id="field_shippingRequired"
                           formControlName="shippingRequired"/>
                    <div *ngIf="editForm.get('shippingRequired')!.invalid && (editForm.get('shippingRequired')!.dirty || editForm.get('shippingRequired')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shippingRequired')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" formControlName="createdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
